.footer {
    color: #fff;
    background-color: #767475;
}

.flex-grid {
    display: flex;
    align-items: center;
}

.col {
    flex: 1;
    padding: 40px;
    /* border: red solid 2px; */
}

.copyright {
    text-align: center;
    white-space: pre;
}

.address {
    margin: 0;
    list-style: none;
}

.email {
    color: #ee7303;
}