.topnav {
    position: absolute;
    bottom: 0;
    right: 0;
  }

.navbar {
    width: 100%;
}

.nav-list {
    margin: 0;
    list-style: none;
    text-align: center;
}

.nav-item {
    /* z-index: 1;
    position: relative;
    width: max-content; */
    display: inline-block;
    padding: 0 20px 0 20px;
    color: #ee7303;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: 200ms ease-in;
}

.nav-link:hover {
    color: #767475;
}

.nav-link {
    color: #ee7303;
    transition: 200ms ease-in;
}

.social svg {
    width: 20px;
    height: 20px;
    color: #ee7303;
    vertical-align: middle;
    transition: ease-in 200ms;
}

.social:hover svg {
    color: #767475;
    transform: translateY(-5px);
}