* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.underline {
  position: relative;
  padding-bottom: 2px;
  cursor: pointer;
}

.underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 1px;
  background-color: #767475;;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.underline:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}