.header {
  position: sticky;
  top: 0;
  z-index: 999;
  max-width: 100%;
  background-color: #fff;
  padding: 20px 40px 20px 40px;
  text-align: center;
  color: #727070;
  box-shadow: 0px 5px 5px 0px rgba(71,71,71,1);
}

a {
  text-decoration: none;
  cursor: pointer;
}

.inner {
  display: flex;
  position: relative;
}

.logo-img {
  width: 200px;
  height: 70px;
}